<h1>Teams</h1>

<table class="table">
  <thead>
  <tr>
    <th>Naam</th>
  </tr>
  </thead>
  <tbody>
  <% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
  </tr>
  <% end %>
  </tbody>
</table>