<h2>Subpoele <%= @subpool.name %></h2>

<%= render :partial => "shared/player_ranking",
           :locals => { :players => @players, :stage => false, :overall => false } %>

<hr/>

<%= link_to 'Terug naar je team', account_path, class: 'btn btn-default' %>