<%= content_for(:title, "Algemeen klassement") %>
<div class="row">
  <div class="span6">
    <h3 id="player_ranking">De ploegen</h3>
    <%= render :partial => "shared/player_ranking", :locals => {:players => @players, :stage => false} %>
  </div>
  <div class="span6">
    <h3 id="rider_ranking">De renners</h3>
    <%= render :partial => "shared/rider_ranking", :locals => {:riders => @riders, :stage => false} %>
  </div>
</div>