<ul class="skills">
  <li><%= skill('Alg', rider.overall_skill) %></li>
  <li><%= skill('TT', rider.time_trial_skill) %></li>
  <li><%= skill('Kli', rider.climbing_skill) %></li>
  <li><%= skill('Spr', rider.sprinting_skill) %></li>
</ul>