<ul class="skills">
  <li><%= skill('Algemeen', rider.overall_skill) %></li>
  <li><%= skill('Tijdrijden', rider.time_trial_skill) %></li>
  <li><%= skill('Klimmen', rider.climbing_skill) %></li>
  <li><%= skill('Sprinten', rider.sprinting_skill) %></li>
</ul>