<h1>Overzicht</h1>

<h2>Spelers</h2>

<table>
  <thead>
  <tr>
    <th>Naam</th>
    <th>Teamnaam</th>
    <th>Renners</th>
  </tr>
  </thead>
  <tbody>
  <% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.team_name %></td>
    <td></td>
  </tr>
  <% end %>
  </tbody>
</table>