<h1>Welkom bij Toerdepoele!</h1>

<p>Het is weer zo ver, de Tour de France is weer bijna begonnen. Natuurlijk is er dan ook Toerdepoele, de leukste wielerpoule van Nederland</p>

<p>Heb je je al ingeschreven? <%= link_to "Log dan hier in", account_path, :class => "btn btn-primary" %>
  Nog niet ingeschreven? <%= link_to "Meld je hier aan", new_player_registration_path, :class => "btn btn-success" %></p>
