<h1>Nieuwe deelnemer</h1>

<%= form_for @player do |form| %>

  <%= render form %>

  <div>
    <%= form.submit "Opslaan", :class => "btn btn-primary" %>
    <%= link_to "Annuleren", players_path(), :class => "btn" %>
  </div>
  
<% end %>