<nav>
	<ul class="pagination">
	  <li<% if @stage.nil? %> class="active"<% end %>><%= link_to "Etappeoverzicht", stages_path %></li>
		<% @stages.each do |stage| %>
			<li<% if stage == @stage %> class="active"<% end %>><%= link_to stage.number, stage_path(stage) %></li>
		<% end %>
	</ul>	
</nav>
