<table class="table table-condensed">
  <thead>
  <tr>
    <th width="5%"></th>
    <th width="75%">Team</th>
    <th width="10%">Punten</th>
		<th width="10%"></th>
  </tr>
  </thead>
  <tbody>
	<% i = 0 %>
  <% @sorted_players.each do |sorted_player| %>
    <% stage_points = sorted_player[0] %>
    <% player = sorted_player[1] %>
    <tr>
			<td><%= i += 1 %></td>
      <td><%= player.link_to %></td>
			<td class="center"><%= stage_points %></td>
			<td class="center"><%= player.you_badge %></td>
    </tr>
  <% end %>
  </tbody>
</table>