<table>
  <thead>
  <tr>
    <th></th>
    <th>Renner</th>
    <th>Naam</th>
    <th>Punten</th>
  </tr>
  </thead>
  <tbody>
  <% scores.each do |score| %>
    <tr>
      <td><%= score.ranking %></td>
      <td><%= score.number %></td>
      <td><%= score.rider_name %></td>
      <td><%= score.points %></td>
    </tr>
  <% end %>
  </tbody>
</table>