
<table class="table">
	<tr>
		<th width="25%">Omschrijving</th>
		<td width="75%"><%= @stage.description %></td>
	</tr>
  <tr>
    <th>Datum</th>
    <td><%= @stage.ridden_on(:long) %></td>
  </tr>
	<tr>
		<th>Afstand</th>
		<td><%= @stage.distance %></td>
	</tr>
	<tr>
		<th>Totaal aantal punten</th>
		<td><%= @stage.points %></td>
	</tr>
</table>