<h2>Wijzig renner</h2>

<%= form_for @rider, html: { class: 'form-horizontal' } do |form| %>

  <%= render form %>

  <%= form.submit "Opslaan", :class => "btn btn-primary" %>
  <%= link_to "Annuleren", rider_path(@rider), :class => "btn btn-default" %>

<% end %>