<h1>Renners</h1>

<%= render :partial => "riders/find_form" %>

<%= paginate @riders %>

<%= render :partial => "riders/list", :locals => { :riders => @riders, :teams => false } %>

<%= paginate @riders %>
