<h1>Nieuwe renner</h1>

<%= form_for @rider do |form| %>

  <%= render form %>

  <div class="well">
    <%= form.submit "Opslaan", :class => "btn btn-primary" %>
    <%= link_to "Annuleren", riders_path(), :class => "btn" %>
  </div>

<% end %>