/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker3
 */
@import url(http://fonts.googleapis.com/css?family=Anton);


@media (max-width: 979px) {
  .content{
    padding-top: 0px;
  }
}

a.logo{
  font-family: "Anton", Arial;
  font-size: 30px!important;
  line-height: 40px;
}
a.logo:hover{
  text-decoration: none;
}

.logo .toer{
  color: dodgerblue;
}

a.logo .de{
  color: white;
}

a.logo .poele{
  color: #ff0000;
}

a.logo .year{
  color: yellow;
}


.quiet{
  color: #aaa;
}

.small{
  font-size: 11px;
}

footer{
  padding: 50px 0;
	
	.copyright{
		float: left;
	}
	
	.options, .fb-like, .twitter-share, .signoff{
		float: right;
	}
	
}

div.field_with_errors{
  display: inline;
}