.pr {

  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  border-bottom: 1px #eee solid;
  padding-bottom: 5px;

  .pr-riders {
    flex: 1 1 90%;
    justify-content: space-between;
  }

  .pr-points {
    flex: 1 1 10%;
  }
  
  .pr-points-header {
    visibility: hidden;
  }

  @media (min-width: 500px) {
    .pr-points-header {
      visibility: visible;
    }
  }

  .pr-points {
    font-weight: bold;
    min-width: 30px;
    text-align: right;
  }

  .pr-riders {
    display: flex;

    .pr-main-rider {
      flex: 1 1 50%;
    }

    .pr-substitute-rider {
      flex: 1 1 50%;
    }
  }

  .pr-out-of-race {
    * {
      text-decoration: line-through;
    }
  }

  .pr-main-rider,
  .pr-substitute-rider {

    .pr-flag {
      width: 30px;
      min-width: 30px;
      float: left;
    }

    .pr-rider-team,
    .pr-info {
      margin-left: 30px;
    }

    @media (min-width: 768px) {
      display: flex;

      .pr-flag {
        float: none;
      }

      .pr-rider-team,
      .pr-info {
        margin-left: 0px;
      }

      .pr-rider-team {
        flex-grow: 1;
        flex-basis: 65%;
      }

      .pr-info {
        flex-grow: 0;
        flex-basis: 35%;
      }
    }

    @media (min-width: 992px) {
      .pr-rider-team {
        flex-basis: 70%;
      }

      .pr-info {
        flex-basis: 30%;
      }
    }

    @media (min-width: 1200px) {
      .pr-rider-team {
        flex-basis: 80%;
      }

      .pr-info {
        flex-basis: 20%;
      }
    }
  }

  .pr-rider-team {
    @media (min-width: 1200px) {
      display: flex;

      .pr-rider {
        flex: 1 1 50%;
      }

      .pr-team {
        flex: 1 1 50%;
      }

      .pr-team-jersey{
        display: block;
      }
    }
  }

  .pr-rider {
    display: flex;

    .pr-rider-flag {
      margin-right: 5px;
    }

    .pr-rider-name {
      align-self: center;
    }

  }


  .pr-team {
    display: flex;
    font-size: 11px;
  }

  .pr-team-jersey {
    display: none;
  }

  .pr-info-skills {
    display: none;
  }

  .pr-edit {
    text-align: center;
    min-width: 50px;
  }
}