<p>Welkom <%= @resource.email %>!</p>

<p>Bevestig je email door op deze link te klikken:</p>

<p><%= link_to 'bevestig mijn account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
