<p>Beste <%= @resource.name %>,</p>

<p>Iemand heeft gevraagd je wachtwoord te resetten. Je kan dit doen door op deze link te klikken.</p>

<p><%= link_to 'Pas mijn wachtwoord aan', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Als je dit zelf niet gedaan hebt kan je deze mail negeren. </p>
