<p>Hallo <%= @resource.email %>!</p>

<p>Iemand heeft gevraagd je wachtwoord te resetten. Je kan dit doen door op deze link te klikken.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Als je dit zelf niet gedaan hebt kan je deze mail negeren. </p>
