<p>Hallo <%= @resource.email %>!</p>

<p>Je account is afgesloten vanwege te veel login pogingen.</p>

<p>Klik op de onderstaande link om hem weer te activeren:</p>

<p><%= link_to 'Activeer mijn account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
